# .gitignore

# Игнорировать файл с конфиденциальными данными
.env

# Игнорировать виртуальное окружение
venv/
myenv/

# Игнорировать кэшированные файлы Python
__pycache__/

# Игнорировать другие возможные нежелательные файлы
*.pyc
